[{elvis, [
    {config, [
        #{ dirs    => ["src"]
         , filter  => "*.erl"
         , ruleset => erl_files
         , rules   => [
             {elvis_text_style, line_length, #{limit => 140}},
             {elvis_style, atom_naming_convention, #{ignore => [observer_cli_mnesia]}},
             {elvis_style, param_pattern_matching, disable},
             {elvis_style, no_receive_without_timeout, disable},
             {elvis_style, no_block_expressions, disable},
             {elvis_style, dont_repeat_yourself, disable},             
             {elvis_style, no_debug_call, #{ignore => [observer_cli_escriptize]}},
             {elvis_style, no_if_expression, disable},
             {elvis_style, no_catch_expressions, disable},             
             {elvis_style, export_used_types, disable}             
         ]
        }
      , #{ dirs    => ["include"]
         , filter  => "*.hrl"
         , ruleset => hrl_files
         , rules   => [
             {elvis_text_style, line_length, #{limit => 140}},
             {elvis_style, no_types, disable},
             {elvis_style, macro_names, disable}
         ]
        }
      , #{ dirs    => ["."]
         , filter  => "rebar.config"
         , ruleset => rebar_config
        }
    ]}
  , {output_format, colors}
  , {verbose, true}
  , {no_output, false}
  , {parallel, 1}
]}].
