name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-24.04
    name: Erlang/OTP ${{matrix.otp}} / rebar3 ${{matrix.rebar3}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - otp: '28'
            rebar3: '3.24'
          - otp: '27'
            rebar3: '3.22'
          - otp: '26'
            rebar3: '3.22'
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          rebar3-version: ${{matrix.rebar3}}
      - name: quality checks
        run: rebar3 check
      - name: test coverage (OTP 28 only)
        if: matrix.otp == '28'
        run: rebar3 as test do eunit, covertool generate
      - name: Upload coverage reports to Codecov
        if: matrix.otp == '28'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: zhongwencool/observer_cli
          files: _build/test/covertool/*.covertool.xml
