name: ci

on: push

jobs:
  test:
    runs-on: ubuntu-24.04
    name: Erlang/OTP ${{matrix.otp}} / rebar3 ${{matrix.rebar3}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - otp: '28'
            rebar3: '3.24'
          - otp: '27'
            rebar3: '3.22'
          - otp: '26'
            rebar3: '3.22'
          - otp: '25'
            rebar3: '3.22'
          - otp: '24'
            rebar3: '3.22'
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          rebar3-version: ${{matrix.rebar3}}
      - name: quality checks
        run: rebar3 check

